.main-page {
  height: 100vh;
  background-image: url("../img/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
header {
  height: 100px;
  background-color: #fff;
}
header .nav-link {
  color: #000;
  font-size: 15px;
  font-weight: 400;
}
header .nav-link:hover {
  color: #000;
}
.section-1 {
  height: calc(100vh - 100px);
}
.social-box {
  color: #666666;
  margin: 10px;
  font-size: 16px;
}
.v-line {
  height: 70px;
  border: none;
  border-left: 2px solid #e54c2a;
  margin-left: 10px;
  margin-top: 10px;
}
.folow-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 10px auto;
}
.text-box {
  width: 60%;
}
.text-box h2 {
  font-size: 40px;
  word-spacing: 4px;
}
@font-face {
  font-family: mycursive;
  src: url("/css/fonts/GreatVibes-Regular.ttf");
}
.text-box h3 {
  font-family: mycursive;
  font-size: 35px;
}
.text-cursive {
  font-family: mycursive;
  font-size: 40px;
}
.mybtn {
  height: 45px;
  width: 150px;
  border: none;
  font-size: 15px;
  background-color: #e54c2a;
  color: #fff;
}
.about-page {
  height: 450px;
  background-color: #fff;
}
.about-page h3 {
  font-size: 40px;
}
.t1 {
  font-size: 20px;
  font-weight: 400;
}
.img-box {
  height: 400px;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dishes-page {
  background-color: #f1f1f1;
}
.t-box {
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
}
.img-gallery {
  height: 400px;
}
.card {
  background-color: #fff;
  height: 350px;
  border: none;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-page {
  background-color: #fff;
}
.banner {
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.banner .nav-link {
  color: #666666;
  font-weight: 500;
}
.banner img {
  width: 120px;
  height: 100%;
  object-fit: cover;
}
.menu-gallery {
  margin-top: 20px;
}
.menu-card {
  height: 70px;
  margin: 5px;
  display: grid;
  grid-template-columns: 4fr 7fr 1fr;
}
.menu-card p {
  font-size: 20px;
  text-align: right;
}
.menu-card img {
  height: 70px;
  object-fit: cover;
}
.b1 {
  width: 80px;
}
.b2 {
  width: 300px;
}
.b3 {
  width: 100px;
  text-align: right;
}
